################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Scripts/FileContentIndex
/.vs/Scripts/v17
/.vs
